button {
    display: inline;
}
#count {
    float: right;
    margin: 0;
    font-weight: bold;
}
#logo {
    height: 200px;
    width: 200px;
    background-image: url('../assets/holberton-logo.jpg');
    background-size: 200px 200px;
}
